<!-- <h2> {{ (data$ | async)?.page }}</h2> -->
<table mat-table [dataSource]="dataPokemon" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> NAME </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef> URL </th>
        <td mat-cell *matCellDef="let element">
            <a style="cursor: pointer;" [routerLink]="" (click)="goDetail(element)">{{element.url}}</a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr [ngClass]="loading ? 'hidden' : ''" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
<mat-paginator #paginator [length]="totalPages" [pageIndex]="infoPage.page" [pageSize]="limitPage"
    [pageSizeOptions]="[limitPage]" (page)="eventPageChanged($event)" aria-label="Select page">
</mat-paginator>